.RollDice {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
}

.RollDice button {
  width: 15em;
  padding: 1.5rem;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 3em;
}

.RollDice button:hover {
  background-color: darkslateblue;
  cursor: pointer;
}

.RollDice-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
